@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
	<div class="col-12 col-sm-12 col-lg-12">
		<div class="card">
			<div class="card-header">
				<h4> Completed Applications </h4>
			</div>
			<div class="card-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
							<i class="fa fa-list"></i> Completed Applications
						</a>
					</li>
				</ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
						<form action="" class="mt-2" id="searchform" name="searchform" method="POST">
							<div class="form-group form-row" style="margin-left: 0px !important;">
								<div class="col-12 col-sm-6 col-lg-6">
									<input type="text" id="searchMessage" name="searchMessage" placeholder="Search By Company Name or Email Address" value="" class="form-control" />
								</div>
								<div class="col-12 col-sm-2 col-lg-2">
									<div class="input-group bootstrap-timepicker">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" class="form-control datepicker" id="searchFromDate" name="searchFromDate" placeholder="From Date" style="margin:0px;" autocomplete="off">
									</div>
								</div>
								<div class="col-12 col-sm-2 col-lg-2">
									<div class="input-group bootstrap-timepicker">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" class="form-control datepicker" id="searchToDate" name="searchToDate" placeholder="To Date" style="margin:0px;" autocomplete="off">
									</div>
								</div>
								<div class="col-12 col-sm-2 col-lg-2">
									<button id="search" class="btn btn-success w_full" type="button"><i class="fa fa-check-circle"></i> Search </button>
								</div>
							</div>
						</form>
                        <div class="item-data-retriving d_none">
                            <div class="form-group form-row" style="margin-left: 0px !important;">
                                <div class="col-12 col-sm-9 col-lg-9">
                                    <h6><i class="fa fa-adjust"></i> View Application Details </h6>
                                </div>
                                <div class="col-12 col-sm-3 col-lg-3">
                                    <button id="selectanother" class="btn btn-danger w_full" type="button"><i class="fa fa-check-circle"></i> Select Another Application </button>
                                </div>

                            </div>
                        </div><hr />
                        <!--Load Up Data -->
                        <center id="RMDLoading_ID" class="d_none r_corners">
                            <h6 class="m_top_20 m_bottom_20"> Please wait... Fetching Client Details </h6>
                            <img src="~/Content/images/loading-bar.gif" class="img-thumbnail" alt="Loading" style="max-width:160px;">
                        </center>
                        <!--End Loading Up Data -->
                    </div>
                    <div class="item-data-retrived"></div>
                    <div class="row mt-1" id="ViewAll">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div id="CompletedApplicationsTableContainer"></div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $('#CompletedApplicationsTableContainer').jtable({
                                    title: '<i class="fa fa-list"></i> Complete Applications <div class="dropdown float-right" style="margin: 0 -20px 0px 0;"><a class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="font-size: 13px;"><i class="fa fa-print"></i> Export Report</a><div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 32px, 0px); top: 0px; left: 0px; will-change: transform; width: 175px;"><a href="javascript:void(0);" onclick="GetCSVReport()" data-tab="alerts" class="dropdown-item"><i class="fa fa-file-excel"></i> Export CSV </a></div></div>',
                                    paging: true,
                                    pageSize: 10,
                                    sorting: true,
                                    defaultSorting: 'ApplicationID DESC',
                                    actions:
                                    {
                                        listAction: '/DigitalDesk/GetCompletedApplications'
                                    },
                                    fields: {
                                        ApplicationID: {
                                            key: true,
                                            list: false
                                        },
                                        Client: {
                                            title: 'Company Name',
                                            width: '15%'
                                        },
                                        Status: {
                                            title: 'Status',
                                            width: '10%'
                                        },
                                        AcceptedTAC: {
                                            title: 'Terms',
                                            width: '10%',
                                            display: function (data) {
                                                return '<center><p class="text-success"><i class="fa fa-check-circle"></i> Accepted </p></center>';
                                            }
                                        },
                                        Signatories: {
                                            title: 'Signatories',
                                            width: '10%',
                                            display: function (data) {
                                                return '<center><p class="text-success"><i class="fa fa-check-circle"></i> All Approved </p></center>';
                                            }
                                        },
                                        DesignatedUsers: {
                                            title: 'Representatives',
                                            width: '10%',
                                            display: function (data) {
                                                return '<center><p class="text-success"><i class="fa fa-check-circle"></i> All Approved </p></center>';
                                            }
										},
										DateCreated: {
                                            title: 'Date',
                                            width: '10%',
                                            type: 'date',
                                            displayFormat: 'yy-mm-dd'
                                        },
                                        MyButton: {
                                            title: 'Action',
                                            width: '10%',
                                            display: function (data) {
                                                return '<center><button class="btn btn-outline-primary w_full btn-small" onclick="LoadUpModal(' + data.record.ApplicationID + ')">' +
                                                    '<span class="fa fa-check-circle"></span> View Details </button></center>';
                                            }
                                        },
                                    }
                                });
                                // Re-load records when user click button.
                                $('#search').click(function (e) {
                                    e.preventDefault();
                                    $('#CompletedApplicationsTableContainer').jtable('load', {
                                        searchMessage: $('#searchMessage').val(),
                                        searchFromDate: $('#searchFromDate').val(),
										searchToDate: $('#searchToDate').val()
                                    });
                                });
                                //Load list from server
                                $('#CompletedApplicationsTableContainer').jtable('load');
                            });
                        </script>
                    </div>
                </div>
            </div>
	    </div>
    </div>
</section>

<script type="text/javascript">

	$(document).ready(function () {
		//Initialize Date picker
		$('.datepicker').datepicker({
			format: "yyyy-mm-dd",
			autoclose: true,
		}).on('changeDate', function (e) {
			$(this).datepicker('hide');
		});
	});

	//select-another-item
	$('#selectanother').click(function (e) {
		e.preventDefault();
		$('.item-data-retrived').hide('fast');
		$('.item-data-retriving').hide('fast');
		$('#RMDLoading_ID').hide('fast');
		$('#searchform').show();
		$('#ViewAll').show('fast');
	});

	//Function Load modal
	function LoadUpModal(applicationId) {
        // Hide Default DIV's
        $('#searchform').hide();
        $('#ViewAll').hide();
        $('#RMDLoading_ID').show('fast');
        $('.item-data-retriving').show();
		// LoadUp User Data
		$.ajax({
			type: "POST",
			url: "/DigitalDesk/ViewCompletedApplication",
			data: JSON.stringify({ applicationId: applicationId }),
			async: true,
            contentType: "application/json; charset=utf-8",
			dataType: "html",
            success: function (data) {
                $('#RMDLoading_ID').hide();
                $('.item-data-retrived').show();
				$('.item-data-retrived').html(data);
			},
			error: function (xhr, textStatus, errorThrown) {
				if (textStatus === 'error') {
					$('#searchform').show('fast');
					$('#ViewAll').show('fast');
					$('#RMDLoading_ID').hide();
					$('.item-data-retrived').hide();
					toastr.error('Error! Code: ' + xhr.status + ' Details: ' + errorThrown);
				}
			}
        });
	}

	//Get CSV Report
	function GetCSVReport(){
		var searchText = $('#searchMessage').val();
		var DateFrom = $('#searchFromDate').val();
		var DateTo = $('#searchToDate').val();
		window.location = "/DigitalDesk/ExportCompleteApplications?searchText=" + searchText + "&DateFrom=" + DateFrom + "&DateTo=" + DateTo;
	};

</script>