@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="section">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4> Registered Clients with expired OTP</h4>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            <i class="fa fa-list"></i> Registered Clients with expired OTP
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form action="" class="mt-2" id="searchform" name="searchform" method="POST">
                            <div class="form-group form-row" style="margin-left: 0px !important;">
                                <div class="col-12 col-sm-9 col-lg-9">
                                    <input type="text" id="searchMessage" name="searchMessage" placeholder="Search Registered Clients By company name, email" value="" class="form-control" />
                                </div>
                                <div class="col-12 col-sm-3 col-lg-3">
                                    <button id="search" class="btn btn-success w_full" type="button"><i class="fa fa-check-circle"></i> Search </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="item-data-retrived"></div>
                    <div class="row" id="ViewAll">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div id="RegisteredClientsTableContainer"></div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $('#RegisteredClientsTableContainer').jtable({
                                    title: '<i class="fa fa-list"></i> Clients With Expired OTP',
                                    paging: true,
                                    pageSize: 10,
                                    sorting: true,
                                    defaultSorting: 'DateCreated DESC',
                                    actions:
                                    {
                                        listAction: '/DigitalDesk/GetClientsExpiredOTP'
                                    },
                                    fields: {
                                        ClientID: {
                                            key: true,
                                            list: false
                                        },
                                        CompanyName: {
                                            title: 'Company Name',
                                            width: '30%'
                                        },
                                        EmailAddress: {
                                            title: 'Email',
                                            width: '20%'
                                        },
                                        Status: {
                                            title: 'Status',
                                            width: '10%'
                                        },
                                        DateCreated: {
                                            title: 'DateCreated',
                                            width: '10%',
                                            type: 'date',
                                            displayFormat: 'yy-mm-dd'
                                        },
                                        TimeExpired: {
                                            title: 'Hours',
                                            width: '10%'
                                        },
                                        MyButton: {
                                            title: 'Action',
                                            width: '10%',
                                            display: function (data) {
                                                return '<center><button class="btn btn-outline-primary w_full btn-small" onclick="LoadUpModal(' + data.record.ClientID + ')">' +
                                                    '<span class="fa fa-check-circle"></span> Reset </button></center>';
                                            }
                                        },
                                    }
                                });
                                // Re-load records when user click button.
                                $('#search').click(function (e) {
                                    e.preventDefault();
                                    $('#RegisteredClientsTableContainer').jtable('load', {
                                        searchMessage: $('#searchMessage').val()
                                    });
                                });
                                //Load list from server
                                $('#RegisteredClientsTableContainer').jtable('load');
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Start Confirm Delete Modal -->
<div class="modal fade right" id="LoadResetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-side modal-top-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel"><i class="fa fa-recycle"></i> Reset Client's OTP </h4>
                <button type="button" id="closemodalup" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body students-data mb-0"></div>
            <div class="modal-footer mb-0">
                <div class="col-lg-12">
                    <center> <b> Global Markets Onboarding System  &copy; Stanbic Bank Kenya </b> </center>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Confirm Delete Modal -->
<script type="text/javascript">

    //Function Load modal
    function LoadUpModal(getClientId) {
        $('#LoadResetModal').modal({ backdrop: 'static', keyboard: false });
        $.ajax({
            type: "POST",
            url: "/DigitalDesk/LoadResetClientOTP",
			data: JSON.stringify({ getClientId: getClientId }),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('.students-data').html(data);
			},
			error: function (xhr, textStatus, errorThrown) {
				if (textStatus === 'error') {
					$('#LoadResetModal').modal('hide');
					toastr.error('Submission error! Code: ' + xhr.status + ' Details: ' + errorThrown);
				}
			}
        });
    }

    $(document).ready(function () {
        //Close Delete modal
        $('#closemodalup').on('click', function (e) {
            e.preventDefault();
            $('#LoadResetModal').modal('hide');
        })
    });

</script>