@model System.Web.Mvc.HandleErrorInfo
@{
	Layout = null;
}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stanbic Bank  &mdash; 404 Notfound</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="~/Content/css/style2.css" />
	<link type="text/css" rel="stylesheet" href="~/Content/css/custom.css" />
	<link type="text/css" rel="stylesheet" href="~/Content/css/demo.css" />
	<link type="text/css" rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.min.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<div id="app">
		<div class="main-wrapper">
			<!-- Navigation -->
			<div class="navbar-bg navbar-fixed-top" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<a class="navbar-brand" href="~/home/index">
							Global Markets OnBoarding Portal
						</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="logo-image float-right">
						<a href="~/home/index">
							<img src="~/Content/images/STB_LOGO.jpg" class="logo" style="height: 55px; margin: 2px 5px;" />
						</a>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</div>
			<div id="notfound">
				<div class="notfound">
					<div class="notfound-404">
						<h1>!</h1>
					</div>
					<h2>Account Locked Out</h2>
					<p>Your account has been locked out, due to too many incorrect login attempts.<br/><br /> <a href="~/Account/ResetAccount"> Click here to unlock your account </a> <br /> OR  <br /><a href="~/Account/SelfUnlock"> Go Back to homepage </a></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>