@model OnBoarding.ViewModels.ResendOTPViewModel
<div class="row">
	<div class="col-lg-12">
		<form role="form" id="DeleteUserFRM" class="form-horizontal" action="" method="POST" accept-charset="utf-8">
			<div class="form-group form-row mb-0" style="margin: 0px">
				<div class="col-12 col-sm-12 col-lg-12">
					<h5 class="t_aling_c"> Your New OTP Will be sent to this Email: <b>@ViewData["EmailAddress"]</b></h5>
					
					<input name="UserId" id="UserId" type="hidden" value="@ViewData["UserId"]">
					<input name="EmailAddress" id="EmailAddress" type="hidden" value="@ViewData["EmailAddress"]">
					<input name="CompanyName" id="CompanyName" type="hidden" value="@ViewData["CompanyName"]">
				</div>
			</div><hr />
			<div class="row m_bottom_10">
				<div class="col-12 col-lg-6">
					<button class="btn btn-danger w_full cancel_edit_btn" name="cancelmodal" id="cancelmodal">
						<i class="fa fa-cogs" data-dismiss="modal"></i> Cancel
					</button>
				</div>
				<div class="col-12 col-lg-6">
					<button type="submit" class="btn btn-success w_full" name="deleteuser" id="deleteuser">
						<i class="fa fa-check-circle"></i> Submit
					</button>
				</div>
			</div>
		</form>
	</div>
	<!--Processing Submission -->
	<div class="col-lg-12 d_none" id="ModalLoadingDiv">
		<center class="r_corners m_top_10">
			<h4 class="m_top_20 m_bottom_20">Please wait... Processing your submission</h4>
			<img src="~/Content/images/loading-bar.gif" class="img-thumbnail m_bottom_20" alt="Loading" style="max-width:160px;">
		</center>
	</div>
	<!--End Submission Processing -->
	<!--Alert Successful -->
	<div class="col-lg-12 EditSuccess d_none" style="margin: 0 auto;">
		<div class="alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4><i class="icon fa fa-check-circle" style="color:green"></i> Please check your email, your OTP has been resent to your email</h4>
		</div>
	</div>
	<!--End Successful ALert -->
</div>
<script type="text/javascript">
	jQuery().ready(function () {
		var v = jQuery("#DeleteUserFRM").validate({
			rules: {
				EmailAddress: {
					required: true,
					email: true
				}
			},
			errorElement: "span",
			errorClass: "help-inline-error",
		});
	});

	$(document).ready(function () {
		//Close Delete modal
		$('#cancelmodal').on('click', function (e) {
			e.preventDefault();
			$('#LoadUpModal').modal('hide');
		})

		$('.close').on('click', function (e) {
			e.preventDefault();
			$('#LoadUpModal').modal('hide');
		})

		$("form#DeleteUserFRM").submit(function (e) {
			e.preventDefault();
			if ($('#DeleteUserFRM').valid()) {
				$("#ModalLoadingDiv").show('fast');
				$('#DeleteUserFRM').hide("fast");
				var formData = new FormData($(this)[0]);
				$.ajax({
					url: "/Account/SubmitResendOTP",
					type: 'POST',
					data: formData,
					async: true,
					success: function (XmlHttpRequest) {
						window.setTimeout(close, 1500);
						window.setTimeout(closemodal, 6000);
						if (XmlHttpRequest === 'success') {
							function close() {
								$("#ModalLoadingDiv").hide('fast');
								$('.EditSuccess').show("fast");
							}
						}
						else {
							$('#LoadUpModal').modal('hide').effect('explode');
							toastr.error(XmlHttpRequest);
						}
						function closemodal() {
							$('#LoadUpModal').modal('hide').effect('explode');
							$('.EditSuccess').hide("fast");
						}
					},
					error: function (xhr, textStatus, errorThrown) {
						if (textStatus === 'error') {
							$("#ModalLoadingDiv").hide('fast');
							toastr.error('Submission error! Code: ' + xhr.status + ' Details: ' + errorThrown);
						}
					},
					cache: false,
					contentType: false,
					processData: false
				});
			}
		});
	});
</script>
