
@{
	Layout = "~/Views/Shared/_LayoutWithoutVideo.cshtml";
}

<section class="section">
	<div class="container" style="margin-top: 6rem !important;">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-8">
				<div class="card card-primary">
					<div class="card-header"><h3> Reset Password Confirmation </h3></div>
					<div class="card-body">
						<p>
							Your Password has been reset <br /><br />
							Click here @Html.ActionLink("[Login]", "Index", "Home") to login
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>