
@{
	ViewBag.Title = "ClientUploads";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<ul class="nav nav-tabs">
		<li class="active pull-left"><a data-toggle="tab" href="#Tab"> Upload Clients</a></li>
	</ul>
	<div class="tab-content">
		<div id="Tab" class="tab-pane fade in active">
			<form role="form" id="UploadForm" action="" method="POST" accept-charset="utf-8">
				<div class="form-horizontal">
					<div class="row">
						<div class="col-md-12 m_top_10">
							<label style="font-size: 12px;">Choose CSV file to Upload <i style="color:red;"> Your list should be in the following format </i>:</label>
						</div>
						<div class="col-md-6">
							<table style="width:100%; border: 1px solid black; border-collapse: collapse;">
								<tr style="border: 1px solid black;">
									<th>Email Address</th>
									<th>Clients Name</th>
									<th>Company Name</th>
								</tr>
								<tr style="border: 1px solid black;">
									<td>johndoe@email.com</td>
									<td>John Doe</td>
									<td>John's Company</td>
								</tr>
								<tr>
									<td>johndoe@email.com</td>
									<td>John Doe</td>
									<td>John's Company</td>
								</tr>
							</table>
						</div>
					</div><hr />
					<div class="row">
						<div class="col-md-12" style="padding-left:0px;">
							<div class="col-md-8">
								<div class="fileinput fileinput-new input-group" data-provides="fileinput">
									<div class="form-control" data-trigger="fileinput">
										<i class="glyphicon glyphicon-file fileinput-exists">
										</i> <span class="fileinput-filename"></span>
									</div>
									<span class="input-group-addon btn btn-default btn-file">
										<span class="fileinput-new"> <i class="fa fa-file-excel-o" aria-hidden="true"></i> Select CSV file to upload </span><span class="fileinput-exists">Change</span>
										<input type="file" id="FileUpload" name="FileUpload">
									</span>
									<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput"> <i class="fa fa-trash-o" aria-hidden="true"></i> Remove</a>
								</div>
							</div>
							<div class="col-md-4">
								<button type="submit" name="submit" id="btnSubmit" class="btn btn-info btn-md w_full">
									<span class="glyphicon glyphicon-upload"></span> Upload Client List
								</button>
							</div>
						</div>
					</div>
				</div>
			</form><hr />
			<!--Processing Submission -->
			<div class="item-data-retriving d_none">
				<div class="row">
					<div class="col-xs-6">
						<h4 class="text-aqua"><i class="fa fa-adjust"></i> Uploaded Clients List </h4>
					</div>
					<div class="col-xs-6">
						<button class="btn btn-danger pull-right select-another-item">
							<span class="glyphicon glyphicon-upload"></span> Upload Another List
						</button>
					</div>
				</div><hr />
				<!--Load Up Data -->
				<center id="Loading_Div" class="d_none">
					<h4 class="m_top_20 m_bottom_20"> Please wait... Submiting your request </h4>
					<img src="~/Content/images/loading-bar.gif" class="img-thumbnail" alt="Loading" style="max-width:160px;">
				</center>
				<!--End Loading Up Data -->
			</div>
			<!--End Submission Processing -->
			<div class="item-data-retrived"></div>
		</div>
	</div>
	<!--Start Confirm Approval Modal -->
	<div class="modal fade" id="LoadUpModal" role="dialog" aria-labelledby="LoadUpModal">
		<div class="modal-dialog" style="width:500px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="t_aling_c"><i class="fa fa-warning" style="font-size:30px; color:red"></i> Excel Upload failure! Please Try again</h5>
				</div>
				<div class="modal-data">
					<div class="row">
						<h6 class="t_aling_c" id="XmlHttpRequest" style="font-size:14px; color:red"></h6>
						<div class="col-lg-6 m_bottom_10" style="margin-left:120px">
							<button type="submit" class="btn btn-danger w_full" name="closemodal" id="closemodal">
								<i class="fa fa-close"></i> Close
							</button>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-lg-12">
						<center class="m_top_10">
							<b>E-Market Trader Onboarding  &copy; Stanbic Bank Kenya</b>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--End Confirm Approval Modal-->
</div>
<script type="text/javascript">
    jQuery().ready(function () {
        var v = jQuery("#UploadForm").validate({
            rules: {
            },
            errorElement: "span",
            errorClass: "help-inline-error",
        });
    });
    $(document).ready(function () {
        //Load modal
        function LoadUpModal() {
            $('#LoadUpModal').modal({ backdrop: 'static', keyboard: false });
        }
        //Close modal fnction
		$('#closemodal').on('click', function (e) {
			e.preventDefault();
            $('#LoadUpModal').modal('hide');
        })
        //select-another-item
        $('.select-another-item').click(function (e) {
            e.preventDefault();
            $('.item-data-retrived').hide('fast');
            $('.item-data-retriving').hide('fast');
            $('#UploadForm').show('fast');
        });
        //Submit Form Action
        $("form#UploadForm").submit(function (e) {
            e.preventDefault();
            if ($('#UploadForm').valid()) {
                $('.item-data-retriving').show('fast');
                $("#Loading_Div").show('fast');
                $(".select-another-item").hide('fast');
                $('#UploadForm').hide("fast");
                var formData = new FormData($(this)[0]);
                $.ajax({
                    url: '@Url.Action("ClientUploads", "Admin")',
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (XmlHttpRequest) {
                        window.setTimeout(sendotp, 500);
						window.setTimeout(close, 500);
						function sendotp() {
							$.ajax({
								type: "POST",
								url: '@Url.Action("SendOTPToUploadedUsers", "Admin")',
								contentType: "application/json; charset=utf-8",
								dataType: "html"
							});
						}
                        function close() {
                            if (XmlHttpRequest == 'success') {
                                $('#UploadForm')[0].reset();
                                $("#Loading_Div").hide('fast');
                                //Load Uploaded Clients html
                                $.ajax({
                                    type: "POST",
                                    url: "/Admin/ViewUploadedClients",
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "html",
                                    success: function (data) {
                                        $('.item-data-retrived').show();
                                        $(".select-another-item").show('fast');
                                        $('.item-data-retrived').html(data);
                                    }
                                });
                            }
                            else {
                                LoadUpModal();
                                $('#XmlHttpRequest').text(XmlHttpRequest);
                                $('.item-data-retriving').hide('fast');
                                $("#Loading_Div").hide('fast');
                                $('#UploadForm')[0].reset();
                                $('#UploadForm').show("fast");
                            }
						}
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
        });
    });
</script>