@{
	ViewBag.Message = "Welcome to Global Markets Onboarding Portal";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
	<h3 class="section-header">
		Dashboard
	</h3>
	<div class="row">
		<div class="col-lg-4 col-md-6 col-12">
			<div class="card card-sm-4">
				<div class="card-icon bg-primary">
					<i class="ion ion-person"></i>
				</div>
				<div class="card-wrap">
					<div class="card-header">
						<h4>Total System Users</h4>
					</div>
					<div class="card-body">
						@ViewData["TotalUsers"]
					</div>
				</div>
				<div class="card-cta"> <a href="Admin/ManageInternalUsers"> View All <i class="ion ion-ios-arrow-right"></i> </a></div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<div class="card card-sm-4">
				<div class="card-icon bg-warning">
					<i class="ion ion-paper-airplane"></i>
				</div>
				<div class="card-wrap">
					<div class="card-header">
						<h4>System User Roles</h4>
					</div>
					<div class="card-body">
						@ViewData["TotalUserRoles"]
					</div>
				</div>
				<div class="card-cta"> <a href="Admin/ManageUserRoles"> View All <i class="ion ion-ios-arrow-right"></i> </a></div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<div class="card card-sm-4">
				<div class="card-icon bg-danger">
					<i class="ion ion-ios-paper-outline"></i>
				</div>
				<div class="card-wrap">
					<div class="card-header">
						<h4>Locked Users</h4>
					</div>
					<div class="card-body">
						@ViewData["TotalLockedDisabledUsers"]
					</div>
				</div>
				<div class="card-cta"> <a href="Admin/UnlockUsers"> View All <i class="ion ion-ios-arrow-right"></i> </a></div>
			</div>
		</div>
	</div>
	<!-- /.row -->
</section><hr class="m_top_10" />
<!-- /.row -->
<div class="row">
	<div class="col-lg-6 col-md-6 col-12">
		<div class="card">
			<div class="card-header">
				<h4>Menu Quicklinks</h4>
			</div>
			<div class="card-body">
				<div class="bd-example">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Menu</th>
								<th scope="col">Quick Link</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row"><span class="step">1</span></th>
								<td>Manage Internal Users</td>
								<td><a href="/Admin/ManageInternalUsers"> System Users </a></td>
							</tr>
							<tr>
								<th scope="row"><span class="step">2</span></th>
								<td>System User Roles</td>
								<td><a href="/Admin/ManageUserRoles"> Manage User Roles </a></td>
							</tr>
							<tr>
								<th scope="row"><span class="step">3</span></th>
								<td>Unlock Users</td>
								<td><a href="/Admin/UnlockUsers"> Unlock Users </a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->

<script type="text/javascript">
	$(document).ready(function () {
		$(function () {
			toastr.success('@ViewBag.Message');
		});
	});
</script>
