@model OnBoarding.ViewModels.EditCurrencyViewModel
<div class="row" style="margin: 10px 10px 0px 10px;">
	<form action="" enctype="multipart/form-data" method="post" id="Edit_Currency_FRM" name="Edit_Currency_FRM" data-fv-message="This value is not valid"
		  data-fv-icon-validating="glyphicon glyphicon-refresh">
		<fieldset>
			<div class="box-body">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="EditName"> Edit Currency Name</label>
							<input type="text" class="form-control" name="EditCurrencyName" id="EditCurrencyName" value="@ViewData["CurrencyName"]" />
							<input type="hidden" class="form-control" name="EditId" id="EditId" value="@ViewData["CurrencyId"]" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="EditName"> Edit Short Name </label>
							<input type="text" class="form-control" name="EditCurrencyShortName" id="EditCurrencyShortName" value="@ViewData["CurrencyShortName"]" />
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<label for="EditTModeStatus"> Status</label>
							<div class="radio" style="margin-top:10px;">
								<label for="optionsRadios1">
									<input type="radio" name="EditStatus" id="optionsRadios1" value="1" style="margin-top:3px;" checked>
									Active &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								</label>
								<label for="optionsRadios2">
									<input type="radio" name="EditStatus" id="optionsRadios2" value="0" style="margin-top:3px;"> In-Active
								</label>
							</div>
						</div>
					</div>
				</div>
				<hr />
				<div class="row m_bottom_10">
					<div class="col-lg-6">
						<button class="btn btn-danger w_full cancel_edit_btn">
							<i class="fa fa-cogs" data-dismiss="modal"></i> Cancel
						</button>
					</div>
					<div class="col-lg-6">
						<button type="submit" class="btn btn-success w_full" name="updateplan" id="updateplan">
							<i class="fa fa-check-circle-o"></i> Submit Changes
						</button>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
	<!--Processing Submission -->
	<div class="col-lg-12 d_none" id="ModalLoadingDiv">
		<center class="r_corners m_top_10">
			<h4 class="m_top_20 m_bottom_20">Please wait... Processing Your Submission</h4>
			<img src="~/Content/images/loading-bar.gif" class="img-thumbnail m_bottom_20" alt="Loading" style="max-width:160px;">
		</center>
	</div>
	<!--End Submission Processing -->
	<!--Alert Successful -->
	<div class="col-lg-12 EditSuccess d_none" style="margin: 0 auto;">
		<div class="alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4><i class="icon fa fa-check-circle-o" style="color:green"></i> Currency Successfully Updated!</h4>
		</div>
	</div>
	<!--End Successful ALert -->
	<div class="modal-footer">
		<div class="col-lg-12">
			<center class="m_top_10 m_bottom_10">
				<b>Global Markets Onboarding System &copy; Stanbic Bank Kenya</b>
			</center>
		</div>
	</div>
</div>
<script type="text/javascript">

	jQuery().ready(function () {
		var v = jQuery("#Edit_Currency_FRM").validate({
			rules: {
				EditCurrencyName: {
					required: true,
					minlength: 4
				},
				EditCurrencyShortName: {
					required: true,
					minlength: 2
				}
			},
			errorElement: "span",
			errorClass: "help-inline-error",
		});
	});

	$(document).ready(function () {
		//Submit Form Action
        $("form#Edit_Currency_FRM").submit(function (e) {
            e.preventDefault();
            if ($('#Edit_Currency_FRM').valid()) {
				$("#ModalLoadingDiv").show('fast');
                $('#Edit_Currency_FRM').hide("fast");
                var formData = new FormData($(this)[0]);
                $.ajax({
                    url: '@Url.Action("EditSystemCurrency", "Admin")',
                    type: 'POST',
                    data: formData,
                    async: true,
					success: function () {
						window.setTimeout(close, 1500);
						window.setTimeout(closemodal, 1800);
						function close() {
							$("#ModalLoadingDiv").hide('fast');
							$('.EditSuccess').show("fast");
						}
						function closemodal() {
							$('#LoadUpModal').modal('hide').effect('explode');
							$('.EditSuccess').hide("fast");
						}
					},
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
		});

		//Cancel Modal btn
		$('.cancel_edit_btn').on('click', function (e) {
			e.preventDefault();
			$('#LoadUpModal').modal('hide');
		})
	});
	 
</script>
