@model OnBoarding.ViewModels.PostCurrencyViewModel
@{
	ViewBag.Title = "Manage Currencies";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<ul class="nav nav-tabs">
		<li class="active pull-left"><a dat.a-toggle="tab" href="#ContentTab"> Manage Currencies </a></li>
	</ul>
	<div class="tab-content">
		<div class="col-md-12">
			<div id="ContentTab" class="tab-pane fade in active m_top_10">
				<div class="row m_top_20 m_bottom_10">
					<h5><b>Add System Currency</b></h5>
					<form action="" enctype="multipart/form-data" method="post" id="Add_Currency_FRM" name="Add_Currency_FRM" data-fv-message="This value is not valid"
						  data-fv-icon-validating="glyphicon glyphicon-refresh">
						<fieldset>
							<div class="box-body">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<input type="text" class="form-control" name="CurrencyName" id="CurrencyName" placeholder="Currency Name" />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<input type="text" class="form-control" name="CurrencyShortName" id="CurrencyShortName" placeholder="Currency Short Name" />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<button type="submit" class="btn submitform btn-info w_full" name="submit">
												<span class="glyphicon glyphicon-check"></span> Add Currency
											</button>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div><hr />
				<!-- /.box-body -->
				<!--Processing Submission -->
				<div class="col-lg-12 d_none" id="Loading_ID">
					<center class="r_corners m_top_20">
						<h4 class="m_top_20 m_bottom_20">Please wait... Processing Your Submission</h4>
						<img src="~/Content/images/loading-bar.gif" class="img-thumbnail m_bottom_20" alt="Loading" style="max-width:160px;">
					</center>
				</div>
				<!--End Submission Processing -->
				<div class="row item-data-retrived m_top_10"></div>
			</div>
		</div>
	</div>
</div>
<!--Start Edit Modal -->
<div class="modal fade" id="LoadUpModal" role="dialog" aria-labelledby="LoadUpModal">
	<div class="modal-dialog" style="width:580px;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="t_aling_c"><i class="fa fa-database"></i> Update System Currency </h5>
			</div>
			<div class="modal-data"></div>
		</div>
	</div>
</div>
<!--End Edit Modal-->

<script type="text/javascript">
    jQuery().ready(function () {
        var v = jQuery("#Add_Currency_FRM").validate({
            rules: {
				CurrencyName: {
                    required: true,
                    minlength: 4
				},
				CurrencyShortName: {
					required: true,
					minlength: 2
				}
            },
            errorElement: "span",
            errorClass: "help-inline-error",
        });
	});

    $(document).ready(function () {
        //Load list onDocument Load
        $.ajax({
            type: "POST",
			url: "/Admin/GetCurrencies",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('.item-data-retrived').show();
                $('.item-data-retrived').html(data);
            }
        });

        // Ajax Form Submission Starts
        $("form#Add_Currency_FRM").submit(function (e) {
            e.preventDefault();
            if ($('#Add_Currency_FRM').valid()) {
                $("#Loading_ID").show('fast');
                $('#Add_Currency_FRM').hide("fast");
                var formData = new FormData($(this)[0]);
                $.ajax({
                    url: '@Url.Action("AddNewCurrency", "Admin")',
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (data) {
                        window.setTimeout(close, 500);
                        function close() {
                            $("#Loading_ID").hide('explode');
                            $('#Add_Currency_FRM').show("fast");
                            $('#Add_Currency_FRM')[0].reset();
                            window.location.reload();
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
		});
	});

</script>
