@model OnBoarding.ViewModels.PostUsersViewModel
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="section">
	<div class="col-12 col-sm-12 col-lg-12">
		<div class="card">
			<div class="card-header">
				<h4> Internal System Users </h4>
			</div>
			<div class="card-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
							<i class="fa fa-list"></i> Internal System Users
						</a>
					</li>
					<li class="nav-item ml-auto">
						<a class="nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="true">
							<i class="fa fa-plus"></i> Add Users
						</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
						<form action="" class="mt-2" id="searchform" name="searchform" method="POST">
							<div class="form-group form-row" style="margin-left: 0px !important;">
								<div class="col-12 col-sm-9 col-lg-9">
									<input type="text" id="searchMessage" name="searchMessage" placeholder="Search user by name/ email / username" value="" class="form-control required" />
								</div>
								<div class="col-12 col-sm-3 col-lg-3">
									<button id="search" class="btn btn-success w_full" type="button"><i class="fa fa-check-circle"></i> Search </button>
								</div>
							</div>
						</form>
						<div class="item-data-retriving d_none">
							<div class="form-group form-row" style="margin-left: 0px !important;">
								<div class="col-12 col-sm-9 col-lg-9">
									<h6><i class="fa fa-adjust"></i> View User Details </h6>
								</div>
								<div class="col-12 col-sm-3 col-lg-3">
									<button id="selectanother" class="btn btn-danger w_full" type="button"><i class="fa fa-check-circle"></i> Select Another User </button>
								</div>
							</div>
						</div><hr />
						<!--Load Up Data -->
						<center id="RMDLoading_ID" class="d_none r_corners">
							<h6 class="m_top_20 m_bottom_20"> Please wait... Fetching Client Details </h6>
							<img src="~/Content/images/loading-bar.gif" class="img-thumbnail" alt="Loading" style="max-width:160px;">
						</center>
						<!--End Loading Up Data -->
						<div class="item-data-retrived"></div>
						<div class="row mt-0" id="ViewAll">
							<div class="col-lg-12 col-md-12 col-12">
								<div id="InternalUsersTableContainer"></div>
							</div>
							<script>
								$(document).ready(function () {
									$('#InternalUsersTableContainer').jtable({
										title: '<i class="fa fa-list"></i> Internal System Users <div class="dropdown float-right" style="margin: 0 -20px 0px 0;"><a class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="font-size: 13px;"><i class="fa fa-print"></i> Export Report</a><div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 32px, 0px); top: 0px; left: 0px; will-change: transform; width: 175px;"><a href="javascript:void(0);" onclick="GetCSVReport()" data-tab="alerts" class="dropdown-item"><i class="fa fa-file-excel"></i> Export CSV </a></div></div>',
										paging: true,
										pageSize: 10,
										sorting: true,
										defaultSorting: 'DateCreated DESC',
										actions:
										{
											listAction: '/Admin/GetSystemUsers'
										},
										fields: {
											Id: {
												key: true,
												list: false
											},
											Email: {
												title: 'Email',
												width: '15%'
											},
											UserName: {
												title: 'User Name',
												width: '15%'
											},
											PhoneNumber: {
												title: 'Phone',
												width: '10%'
											},
											RoleName: {
												title: 'Role',
												width: '10%'
											},
											StatusName: {
												title: 'Status',
												width: '10%'
											},
											DateCreated: {
												title: 'DateCreated',
												width: '10%',
												type: 'date',
												displayFormat: 'yy-mm-dd'
											},
											MyButton: {
												title: 'Action',
												width: '7%',
												display: function (data) {
													return '<center><button class="btn btn-outline-primary w_full btn-small" onclick="LoadUpModal(\'' + data.record.Id + '\')"> Edit </button></center>';
												}
											},
											MyButton2: {
												title: 'Action',
												width: '7%',
												display: function (data) {
													var isDeleted = data.record.StatusName;
													if (isDeleted === 'Deleted') {
														return '<center><i class="fa fa-shield-alt" style="color:red;"></i></center>';
													}
													else {
														return '<center><button class="btn btn-outline-danger w_full btn-small" onclick="LoadUpDeleteModal(\'' + data.record.Id + '\')"> Delete </button></center>';
													}
												}
											},
										}
									});
									// Re-load records when user click button.
									$('#search').click(function (e) {
										e.preventDefault();
										$('#InternalUsersTableContainer').jtable('load', {
											searchMessage: $('#searchMessage').val()
										});
									});
									//Load list from server
									$('#InternalUsersTableContainer').jtable('load');
								});
							</script>
						</div>
					</div>
					<!-- Add Tab-->
					<div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="home-tab">
						<form action="" enctype="multipart/form-data" method="post" class="mt-2" id="Add_User_FRM" name="Add_User_FRM" data-fv-message="This value is not valid"
							  data-fv-icon-validating="glyphicon glyphicon-refresh">
							<div class="form-group form-row" style="margin-left: 0px !important;">
								<div class="col-12 col-sm-4 col-lg-4">
									<div class="form-group">
										<label>Full Names</label>
										<input type="text" class="form-control" autocomplete="off" name="CompanyName" id="CompanyName" placeholder="Full Names" />
										<input type="hidden" class="form-control" name="Password" id="Password" value="Pass123**" />
									</div>
								</div>
								<div class="col-12 col-sm-4 col-lg-4">
									<div class="form-group">
										<label>Office Staff Number <span class="red">*</span></label>
										<input type="text" class="form-control" autocomplete="off" name="Username" id="Username" placeholder="Staff Number e.g. A0000" />
									</div>
								</div>
								<div class="col-12 col-sm-4 col-lg-4">
									<div class="form-group">
										<label>Email <span class="red">*</span></label>
										<input type="text" class="form-control" autocomplete="off" name="Email" id="Email" placeholder="Staff Number e.g. A0000" />
									</div>
								</div>
							</div>
							<div class="form-group form-row" style="margin-left: 0px !important;">
								<div class="col-12 col-sm-4 col-lg-4">
									<div class="form-group">
										<label>Phone / Office Extension <span class="red">*</span></label>
										<input type="text" class="form-control" autocomplete="off" name="PhoneNumber" id="PhoneNumber" placeholder="Staff Number e.g. A0000" />
									</div>
								</div>
								<div class="col-12 col-sm-4 col-lg-4">
									<label>Select User Role <span class="red">*</span></label>
									<select id="UserRole" name="UserRole" autocomplete="off" class="form-control select2" style="width: 100%;"></select>
								</div>
								<div class="col-12 col-sm-4 col-lg-4">
									<div class="form-group">
										<button type="submit" class="btn submitform btn-primary w_full" style="margin-top:24px;" name="submit">
											<span class="fa fa fa-check-circle"></span> Add System User
										</button>
									</div>
								</div>
							</div>
						</form>
						<!--Processing Submission -->
						<div class="col-lg-12 col-12 d_none mt-4" id="Loading_ID">
							<center class="r_corners">
								<h4 class="m_top_20 m_bottom_20">Please wait... Processing Your Submission</h4>
								<img src="~/Content/images/loading-bar.gif" class="img-thumbnail m_bottom_20" alt="Loading" style="max-width:160px;">
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Start Confirm Delete Modal -->
<div class="modal fade right" id="LoadUpDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
	<div class="modal-dialog modal-side modal-top-right" role="document" style="width:500px;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel"><i class="fa fa-trash"></i> Delete User </h4>
				<button type="button" id="closemodalup" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body students-data mb-0"></div>
			<div class="modal-footer mb-0">
				<div class="col-lg-12">
					<center> <b> Global Markets Onboarding System  &copy; Stanbic Bank Kenya </b> </center>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Confirm Delete Modal -->
<script type="text/javascript">
	//Function Load modal
	function LoadUpDeleteModal(getUserId) {
		$('#LoadUpDeleteModal').modal({ backdrop: 'static', keyboard: false });
		$.ajax({
			type: "POST",
			url: "/Admin/LoadDeleteUser",
			data: '{getUserId: "' + getUserId + '" }',
			contentType: "application/json; charset=utf-8",
			dataType: "html",
			success: function (data) {
				$('.students-data').html(data);
			}
		});
	}

	//Form Validate on submission
	jQuery().ready(function () {
		var v = jQuery("#Add_User_FRM").validate({
			rules: {
				UserRole: {
					required: true
				},
				PhoneNumber: {
					required: true
				},
				Email: {
					required: true,
					email: true
				},
				Username: {
					required: true
				},
				CompanyName: {
					required: true
				},
			},
			errorElement: "span",
			errorClass: "help-inline-error",
		});
	});

	//select-another-item
    $('#selectanother').click(function (e) {
        e.preventDefault();
        $('.item-data-retrived').hide('fast');
        $('.item-data-retriving').hide('fast');
		$('#ViewAll').show('fast');
		 $('#searchform').show('fast');
	});

	//Function Load User Details
    function LoadUpModal(getUserId) {
        // Hide Default DIV's
        $('#searchform').hide();
        $('#ViewAll').hide();
        $('#RMDLoading_ID').show('fast');
		$('.item-data-retriving').show();
        //LoadUp User Data
        $.ajax({
            type: "POST",
            url: "/Admin/LoadEditUser",
			data: JSON.stringify({ getUserId: getUserId }),
            async: true,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#RMDLoading_ID').hide();
                $('.item-data-retrived').show();
                $('.item-data-retrived').html(data);
			},
			error: function (xhr, textStatus, errorThrown) {
				if (textStatus === 'error') {
					$('#RMDLoading_ID').hide();
					$('.item-data-retrived').hide();
					$('#searchform').show();
					$('#ViewAll').show();
					toastr.error('Error! Code: ' + xhr.status + ' Details: ' + errorThrown);
				}
			}
        });
	}
	
	$(document).ready(function () {
		//Get Roles List
		$("#UserRole").select2({
			placeholder: "Select User Roles",
			allowClear: true,
			ajax: {
				url: '/Admin/GetUserRoles',
				data: function (params) {
					return {
						q: params.term // search term
					};
				},
				processResults: function (data) {
					return {
						results: data.items
					};
				},
				minimumInputLength: 2
			}
		});

		// Ajax Form Submission Starts
		$("form#Add_User_FRM").submit(function (e) {
			e.preventDefault();
			if ($('#Add_User_FRM').valid()) {
				$("#Loading_ID").show('fast');
				$('#Add_User_FRM').hide("fast");
				var formData = new FormData($(this)[0]);
				$.ajax({
					url: '/Admin/AddNewUser',
					type: 'POST',
					data: formData,
					async: true,
					success: function (XmlHttpRequest) {
						window.setTimeout(close, 500);
						function close() {
							if (XmlHttpRequest === 'success') {
								$("#Loading_ID").hide('explode');
								$('#Add_User_FRM').show("fast");
								$('#Add_User_FRM')[0].reset();
								$('#InternalUsersTableContainer').jtable('load');
							}
							else {
								$("#Loading_ID").hide('fast');
								$('#form').show("fast");
								toastr.error(XmlHttpRequest);
							}
						}
					},
					cache: false,
					contentType: false,
					processData: false
				});
			}
		});
	});

	//Get CSV Report
	function GetCSVReport(){
		window.location = "/Admin/ExportUsers";
	};

</script>