@model OnBoarding.ViewModels.PostRolesViewModel
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="section">
	<div class="col-12 col-sm-12 col-lg-12">
		<div class="card">
			<div class="card-header">
				<h4> Manage User Roles </h4>
			</div>
			<div class="card-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
							<i class="fa fa-list"></i> Manage User Roles
						</a>
					</li>
					<li class="nav-item ml-auto">
						<a class="nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="true">
							<i class="fa fa-plus"></i> Add User Roles
						</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
						<form action="" class="mt-2" id="searchform" name="searchform" method="POST">
							<div class="form-group form-row" style="margin-left: 0px !important;">
								<div class="col-12 col-sm-9 col-lg-9">
									<input type="text" id="searchMessage" name="searchMessage" placeholder="Search user role by name" value="" class="form-control required" />
								</div>
								<div class="col-12 col-sm-3 col-lg-3">
									<button id="search" class="btn btn-success w_full" type="button"><i class="fa fa-check-circle"></i> Search </button>
								</div>
							</div>
						</form>
						<div class="row mt-0">
							<div class="col-lg-12 col-md-12 col-12">
								<div id="UserRolesTableContainer"></div>
							</div>
							<script>
								$(document).ready(function () {
									$('#UserRolesTableContainer').jtable({
										title: '<i class="fa fa-list"></i> User Roles',
										paging: true,
										pageSize: 10,
										sorting: true,
										defaultSorting: 'DateCreated DESC',
										actions:
										{
											listAction: '/Admin/GetUserRoles'
										},
										fields: {
											Id: {
												key: true,
												list: false
											},
											Name: {
												title: 'Role Name',
												width: '30%'
											},
											StatusName: {
												title: 'Status',
												width: '10%'
											},
											DateCreated: {
												title: 'Date Created',
												width: '10%',
												type: 'date',
												displayFormat: 'yy-mm-dd'
											},
											MyButton: {
												title: 'Action',
												width: '10%',
												display: function (data) {
													return '<center><button class="btn btn-outline-primary w_full btn-small" onclick="LoadUpModal(\'' + data.record.Id + '\')"><span class="fa fa-edit"></span> Edit </button></center>';
												}
											},
										}
									});
									// Re-load records when user click button.
									$('#search').click(function (e) {
										e.preventDefault();
										$('#UserRolesTableContainer').jtable('load', {
											searchMessage: $('#searchMessage').val()
										});
									});
									//Load list from server
									$('#UserRolesTableContainer').jtable('load');
								});
							</script>
						</div>
					</div>
					<!-- Add Tab-->
					<div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="home-tab">
						<form action="" enctype="multipart/form-data" method="post" class="mt-2" id="Add_Role_FRM" name="Add_Role_FRM" data-fv-message="This value is not valid"
							  data-fv-icon-validating="glyphicon glyphicon-refresh">
							<div class="form-group form-row" style="margin-left: 0px !important;">
								<div class="col-12 col-sm-8 col-lg-8">
									<div class="form-group">
										<label>Role Name</label>
										<input type="text" class="form-control" autocomplete="off" name="Name" id="Name" placeholder="Role Name" />
									</div>
								</div>
								<div class="col-12 col-sm-4 col-lg-4">
									<div class="form-group">
										<button type="submit" class="btn submitform btn-primary w_full" style="margin-top:24px;" name="submit">
											<span class="fa fa fa-check-circle"></span> Add System Role
										</button>
									</div>
								</div>
							</div>
						</form>
						<!--Processing Submission -->
						<div class="col-lg-12 col-12 d_none mt-4" id="Loading_ID">
							<center class="r_corners">
								<h4 class="m_top_20 m_bottom_20">Please wait... Processing Your Submission</h4>
								<img src="~/Content/images/loading-bar.gif" class="img-thumbnail m_bottom_20" alt="Loading" style="max-width:160px;">
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Start Confirm Delete Modal -->
<div class="modal fade right" id="LoadUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
	<div class="modal-dialog modal-side modal-top-right" role="document" style="width:500px;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel"><i class="fa fa-edit"></i> Edit User Role </h4>
				<button type="button" id="closemodalup" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body students-data mb-0"></div>
			<div class="modal-footer mb-0">
				<div class="col-lg-12">
					<center> <b> Global Markets Onboarding System  &copy; Stanbic Bank Kenya </b> </center>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Confirm Delete Modal -->
<script type="text/javascript">
	//Function Load modal
	function LoadUpModal(getRoleId) {
		$('#LoadUpModal').modal({ backdrop: 'static', keyboard: false });
		$.ajax({
			type: "POST",
			url: "/Admin/LoadEditUserRoles",
			data: JSON.stringify({ getRoleId: getRoleId }),
			contentType: "application/json; charset=utf-8",
			dataType: "html",
			success: function (data) {
				$('.students-data').html(data);
			},
			error: function (xhr, textStatus, errorThrown) {
				if (textStatus === 'error') {
					toastr.error('Error! Code: ' + xhr.status + ' Details: ' + errorThrown);
				}
			}
		});
	}

	//Form Validate on submission
	jQuery().ready(function () {
		var v = jQuery("#Add_Role_FRM").validate({
			rules: {
				Name: {
					required: true,
					minlength: 3
				},
			},
			errorElement: "span",
			errorClass: "help-inline-error",
		});
	});

	$(document).ready(function () {
		// Ajax Form Submission Starts
		$("form#Add_Role_FRM").submit(function (e) {
			e.preventDefault();
			if ($('#Add_Role_FRM').valid()) {
				$("#Loading_ID").show('fast');
				$('#Add_Role_FRM').hide("fast");
				var formData = new FormData($(this)[0]);
				$.ajax({
					url: '/Admin/AddNewRole',
					type: 'POST',
					data: formData,
					async: true,
					success: function (XmlHttpRequest) {
						window.setTimeout(close, 1500);
						function close() {
							if (XmlHttpRequest === 'success') {
								$("#Loading_ID").hide('explode');
								$('#Add_Role_FRM').show("fast");
								$('#Add_Role_FRM')[0].reset();
								$('#UserRolesTableContainer').jtable('load');
							}
							else {
								$("#Loading_ID").hide('fast');
								$('#Add_Role_FRM').show("fast");
								toastr.error(XmlHttpRequest);
							}
						}
					},
					error: function (xhr, textStatus, errorThrown) {
						if (textStatus === 'error') {
							$("#Loading_ID").hide('fast');
							$('#Add_Role_FRM').show("fast");
							toastr.error('Error! Code: ' + xhr.status + ' Details: ' + errorThrown);
						}
					},
					cache: false,
					contentType: false,
					processData: false
				});
			}
		});
	});
</script>