@model IEnumerable<OnBoarding.ViewModels.UploadedUsersViewModel>
<div class="col-md-12">
    <table id="UploadedList" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Account Name</th>
                <th>Company Name</th>
                <th>Email Address</th>
                <th>Date Uploaded</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td> @item.AccountName</td>
                <td> @item.CompanyName</td>
                <td> @item.EmailAddress</td>
                <td> @item.DateCreated</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#UploadedList').DataTable({
            responsive: true
        });
    });
</script>
