@model OnBoarding.ViewModels.UploadedClientViewModel
<div class="row">
	<div class="col-12">
		<div class="row" id="ViewAllUploads">
			<div class="col-lg-12 col-md-12 col-12">
				<div id="UploadsTableContainer"></div>
			</div>
			<script>
				$(document).ready(function () {
					var fileName = '@ViewData["FileName"]';
					$('#UploadsTableContainer').jtable({
						title: '<i class="fa fa-list"></i> Uploaded Clients <div class="jTableTitleDiv float-right"><button id="DeclineSelected" class="btn btn-outline-danger w_full" type="button" style="font-size:11px;line-height: 15px;padding: 5px 10px;letter-spacing:.4px;border-radius:0px; margin: -4px 10px 0px 0px;"><i class="fa fa-trash"></i> Decline Selected </button><button id="ApproveSelected" class="btn btn-outline-success w_full" type="button" style="font-size:11px;line-height: 15px;padding: 5px 10px;letter-spacing:.4px;border-radius:0px;margin: -4px 0px 0px 0px;"><i class="fa fa-check-circle"></i> Approve Selected </button></div>',
						paging: true,
						pageSize: 10,
						sorting: true,
						defaultSorting: 'Id DESC',
						selecting: true, //Enable selecting
						multiselect: true, //Allow multiple selecting
						selectingCheckboxes: true, //Show checkboxes on first column
						selectOnRowClick: true, //Enable this to only select using checkboxes
						actions:
						{
							listAction: '/Gmo/GetUploadApprovals?FileName=' + fileName,
						},
						fields: {
							Id: {
								key: true,
								create: false,
								edit: false,
								list: false
							},
							CompanyName: {
								title: 'Company-Name',
								width: '30%'
							},
							AcceptedTerms: {
								title: 'Terms',
								width: '10%'
							},
							EMTSignUp: {
								title: 'EMT',
								width: '10%'
							},
							SSI: {
								title: 'SSI',
								width: '10%'
							},
							AccountNumber: {
								title: 'Account-Number',
								width: '20%'
							},
							Currency: {
								title: 'Currency',
								width: '10%'
							},
							RepresentativeName: {
								title: 'RepresentativeName',
								width: '20%'
							},
							RepresentativePhonenumber: {
								title: 'Phone',
								width: '20%'
							},
							RepresentativeLimit: {
								title: 'Limit($)',
								width: '10%'
							},
							IsGM: {
								title: 'ISGM',
								width: '10%'
							},
							IsEMTUser: {
								title: 'EMTUSer',
								width: '10%'
							},
							DateOfContract: {
								title: 'DateOfContract',
								width: '10%'
							},
						},

						//Register to selectionChanged event to hanlde events
						selectionChanged: function () {
                            var $selectedRows = $('#UploadsTableContainer').jtable('selectedRows');
                            if ($selectedRows.length > 0) {
                                $selectedRows.each(function () {
                                    var record = $(this).data('record');
                                    var UploadID = record.Id;
                                });
                            }
                        }
					});

					//Load list from server
					$('#UploadsTableContainer').jtable('load');
					
					//Approve records
					$('button#ApproveSelected').on('click', function (e) {
						e.preventDefault();
						var $selectedRows = $('#UploadsTableContainer').jtable('selectedRows');
						if ($selectedRows.length > 0) {
							Swal.fire({
								title: 'Are you sure?',
								text: "You won't be able to revert this!",
								icon: 'warning',
								showCancelButton: true,
								confirmButtonColor: '#28a745;',
								cancelButtonColor: '#d33',
								confirmButtonText: 'Yes, approve records',
								cancelButtonText: 'No, cancel',
							}).then((result) => {
								if (result.value) {
									var ids = [];
									$selectedRows.each(function () {
										ids.push($(this).data('record').Id);
									});
									$.ajax({
										url: "/Gmo/ApproveSelected",
										type: 'POST',
										//data: JSON.stringify(ids),
										data: JSON.stringify({ postedIds: ids, uploadedFile: fileName }),
										contentType: 'application/json; charset=utf-8',
										dataType: "json",
										async: true,
										success: function (XmlHttpRequest) {
											if (XmlHttpRequest === 'success') {
												Swal.fire(
													'Success!',
													'Your records has been successfully approved',
													'success'
												)
												$('#UploadsTableContainer').jtable('load');
											}
											else {
												Swal.fire({
													icon: 'error',
													text: 'Your approved records has been partially approved, please check and rectify errors'
												})
												$('#UploadsTableContainer').jtable('load');
											}
										}
									})
								}
							})
						}
						else {
							Swal.fire({
								icon: 'warning',
								text: 'Please select record(s) to decline!'
							})
						}
					});

					//Decline selected items
					$('button#DeclineSelected').on('click', function (e) {
						e.preventDefault();
						var $selectedRows = $('#UploadsTableContainer').jtable('selectedRows');
						if ($selectedRows.length > 0) {
							Swal.mixin({
								input: 'text',
								confirmButtonText: 'Yes, decline records',
								showCancelButton: true,
								confirmButtonColor: '#28a745;',
								cancelButtonColor: '#d33',
								cancelButtonText: 'No, cancel',
								progressSteps: ['1']
							}).queue([
								{
									title: 'Are you sure?',
									text: 'Kindly provide comments before decline'
								}
							]).then((result) => {
								if (result.value) {
									const comments = result.value;
									var ids = [];
									$selectedRows.each(function () {
										ids.push($(this).data('record').Id);
									});
									$.ajax({
										url: "/Gmo/DeclineSelected",
										type: 'POST',
										data: JSON.stringify({ postedIds: ids, uploadedFile: fileName, postedComments: comments }),
										contentType: 'application/json; charset=utf-8',
										dataType: "json",
										async: true,
										success: function (XmlHttpRequest) {
											if (XmlHttpRequest === 'success') {
												$('#UploadsTableContainer').jtable('load');
												Swal.fire(
													'Success!',
													'Your record(s) has been successfully declined',
													'success'
												)
												$('#UploadsTableContainer').jtable('load');
											}
											else {
												Swal.fire({
													icon: 'error',
													text: XmlHttpRequest
												})
											}
										}
									})
								}
							})
						}
						else
						{
							Swal.fire({
								icon: 'warning',
								text: 'Please select record(s) to decline!'
							})
						}
					});
				});
			</script>
		</div>
	</div>
</div>