@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_AdminNewLayout.cshtml";
}

    <section class="section">
        <h1 class="section-header">
            <div>Dashboard</div>
        </h1>
		<div class="row">
			<div class="col-lg-4 col-md-4col-12">
				<div class="card card-sm-3">
					<div class="card-icon bg-warning">
						<i class="ion ion-paper-airplane"></i>
					</div>
					<div class="card-wrap">
						<div class="card-header">
							<h4>My Nominations</h4>
						</div>
						<div class="card-body">
							@ViewData["Nominations"]
						</div>
					</div>
					<div class="card-cta"> <a href="Signatory/ViewAll"> View All <i class="ion ion-ios-arrow-right"></i> </a></div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4col-12">
				<div class="card card-sm-3">
					<div class="card-icon bg-warning">
						<i class="ion ion-paper-airplane"></i>
					</div>
					<div class="card-wrap">
						<div class="card-header">
							<h4> Signatories </h4>
						</div>
						<div class="card-body">
							@ViewData["Signatories"]
						</div>
					</div>
					<div class="card-cta"> <a href="Signatory/ViewAll"> View All <i class="ion ion-ios-arrow-right"></i> </a></div>
				</div>
			</div>
		</div>
    </section>